<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>
            Basic Config
        </title>
        
        <input-field type="bool>
            <name>showInStoreront</name>
            <label>Show in Storefront</label>
        </input-field>
    </card>
       
    <card>
        <title>Configuration</title>
        
        <input-field type="text">
            <name>jobPageHeading</name>
            <label>Enter your page heading</label>
            <defaultValue>Default test heading</defaultValue>
            <copyable>true</copyable>
        </input-field>
        
         <component name="sw-media-field">
            <name>jobPageMedia</name>
            <label>upload media</label>
         </component>
    </card>
</config>